body {
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  p {
<<<<<<< Updated upstream
    font-size: 1.5em;
=======
    font-size: 1.4em;
>>>>>>> Stashed changes
    line-height: 1.4;
  }
Header ul {
    padding-left: 2em;
}
header li { /*i had a trouble with this */
    background-color: blueviolet;
    border: 2px dotted red;
    display: inline;
}


header li:hover{
    background-color: brown;
}

header ul {
    display: flex;
    list-style: none;
}

header a {
    border:2px; border-color:brown;
    color: mediumvioletred;
    display: inline-block;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(0, 255, 30)
    ;
}

section a {
    border: 2px solid green;
}

img {
    float: left;
    margin-right: 2em;
}


aside{
    background: beige;
    border: 1px dashed brown;

}