body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 234, 255);
    color: rgb(75, 51, 124); 
}

<<<<<<< Updated upstream
=======
h1 {
    font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
    font-weight: 700; /* Use 400 for regular weight */
}

p {
    font-family: 'sans-serif', Arial;
    font-weight: 400;
}

/* Header styling */
>>>>>>> Stashed changes
header {
    background-color: #000000;
    color: white;
    padding: 0.5em;
}
img {
    max-width: 100%;
    height: auto;
    float: center;
    margin-right: 2em;
}
nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
}

section#about p:nth-child(3)::first-letter {
    background-color: rgb(75, 51, 124);
    color: rgb(3, 234, 255);
    font-size: 5em;
    font-weight: bold;
    border-radius: 40px;
    padding: 5px;

}

section#ProfessionalExperience p:nth-child(2)::first-letter {
    background-color: rgb(75, 51, 124);
    color: rgb(3, 234, 255);
    font-size: 5em;
    font-weight: bold;
    border-radius: 40px;
    padding: 5px;

}

h2 {
    background-color: rgb(75, 51, 124);
    color: white;
    padding: 0.3em;
    border-radius: 10px;
}
nav a {
    text-decoration: none;
    color: rgb(3, 234, 255);
    margin: 0 1em;
    padding: 0.5em 1em;
    border: 2px solid rgb(118, 57, 163);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgb(118, 57, 163);
}

main {
    padding: 2em;
}

.section {
    margin: 2em 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5em;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
}

::selection {
    background-color: rgb(75, 51, 124);
    color:  rgb(3, 234, 255);
}

table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    color: rgb(3, 234, 255);
    background-color: rgb(75, 51, 124);
  }

  th {
    border: 5px solid #ddd;
    padding: 7px;
  }

footer {
    background-color: #000000;
    color: rgb(3, 234, 255);
    text-align: center;
    padding: 1em;
}

