body {

    background-color: pink;
    
    }
Header ul {
    padding-left: 0;
}
header li { /*i had a trouble with this */
    background-color: blueviolet;
    border: 2px dotted red;
    display: inline;
}


header li:hover{
    background-color: brown;
}

header ul {
    display: flex;
    list-style: none;
    
}

header a {
    border:2px dotted red;
    color: yellowgreen
    display: inline-block;
    text-decoration: none;
}

header a:hover {
    background-color: yellowgreen;
}

section a {
    border: 2px solid green;
}

img {
    float: left;
    margin-right: 2em;
}


aside{
    background: beige;
    border: 1px dashed brown;

}