body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 234, 255);
    color: rgb(75, 51, 124); 
}

header {
    background-color: #000000;
    color: white;
    padding: 0.5em;
}
img {
    max-width: 100%;
    height: auto;
    float: center;
    margin-right: 2em;
}

/* Navigation styling */
nav {
  text-align: center;
}

nav h1 {
    display: flex;
    align-items: center;
}

section#about p:nth-child(3)::first-letter {
    background-color: rgb(75, 51, 124);
    color: rgb(3, 234, 255);
    font-size: 5em;
    font-weight: bold;
    border-radius: 40px;
    padding: 5px;

}

section#ProfessionalExperience p:nth-child(2)::first-letter {
    background-color: rgb(75, 51, 124);
    color: rgb(3, 234, 255);
    font-size: 5em;
    font-weight: bold;
    border-radius: 40px;
    padding: 5px;

}

h2 {
    background-color: rgb(75, 51, 124);
    color: white;
    padding: 0.3em;
    border-radius: 10px;
}
nav a {
  align-items: center;
  text-decoration: none;
  color: rgb(3, 234, 255);
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border: 3px solid rgb(255, 0, 242);
  border-radius: 50px;
}

/* Navigation link hover effect */
nav a:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(136, 0, 255);
  color: rgb(175, 255, 3);
}

/* Common button styling */
.common-btn {
  align-items: center;
  color: rgb(0, 255, 89);
  background-color: rgb(0, 0, 0);
  margin: 0 0.5em;
  padding: 0.9em 1.8em;
  border: 3px solid rgb(255, 0, 242);
  border-radius: 50px;
}

/* Common button hover effect */
.common-btn:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(81, 0, 255);
  color: rgb(175, 255, 3);
}

/* Main content styling */
main {
  padding: 2em;
}

.section {
    margin: 2em 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5em;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
}

::selection {
    background-color: rgb(75, 51, 124);
    color:  rgb(3, 234, 255);
}

/* Table styling */
table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  color: rgb(3, 234, 255);
  background-color: rgb(0, 0, 0);
}

/* Table header cell styling */
th, td {
  border: 3px solid #ff00c8;
  padding: 8px;
}

/* Styling for the first letter in specific paragraphs */
section#about p:nth-child(3)::first-letter,
section#ProfessionalExperience p:nth-child(2)::first-letter {
  background-color: rgb(0, 0, 0);
  color: rgb(3, 234, 255);
  font-size: 5em;
  font-weight: bold;
  border-radius: 40px;
  padding: 5px;
}

/* Responsive Design */
@media screen and (max-width: 770px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  body {
    background-color: rgb(0, 0, 0);
    color: rgb(3, 234, 255);
    background-color: rgb(75, 51, 124);
  }

  th {
    border: 5px solid #ddd;
    padding: 7px;
  }

footer {
  background-color: #000000;
  color: rgb(3, 234, 255);
  text-align: center;
  padding: 1em;
}

